.indent {
	&:empty {
		margin-top: 0;
	}
}

.indent + .indent {
	margin-top: nth($pxs, 4);
}

.indent--close-bottom + .indent,
.indent + .indent--close-top {
	margin-top: nth($pxs, 2);
}

.indent--tight-bottom + .indent,
.indent + .indent--tight-top {
	margin-top: nth($pxs, 1);
}

.indent--join-bottom + .indent,
.indent + .indent--join-top {
	margin-top: 0;
}

.indent--standalone + .indent,
.indent + .indent--standalone {
	margin-top: nth($pxs, 6);
}

.indent--divided + .indent,
.indent + .indent--divided {
	margin-top: (nth($pxs, 8) + 2);
}

.indent--separate + .indent,
.indent + .indent--separate {
	margin-top: nth($pxs, 12);
}

.indent--offset-lg + .indent,
.indent + .indent--offset-lg {
	@include media-md {
		margin-top: nth($pxs, 6);
	}

	@include media-lg {
		margin-top: nth($pxs, 31);
	}
}
