<div class="container">
	<div class="row">
		<div class="col">
			<div class="row">
				<div class="col">
					<h2>DataTable</h2>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<table class="table" id="datatable-xdent">
						<thead>
							<tr>
								<th>Code</th>
								<th>Name</th>
								<th>Price</th>
								<th>Button</th>
							</tr>
						</thead>
						<tfoot>
							<tr>
								<th></th>
								<th></th>
								<th>Total: € <span id="total"></span></th>
								<th></th>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>