{{!--
	index:    boolean
--}}
<!DOCTYPE html>
<html lang="cs">
<head>
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta charset="utf-8">
	<title>Xdent DataTable</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="x-rim-auto-match" content="none">
	<meta name="author" content="Lukáš Sikýř">

	<!-- Bootstrap -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

	<!-- DataTable -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js" defer></script>
	<script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap5.min.js" defer></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
	<script src="https://cdn.datatables.net/plug-ins/1.10.22/api/sum().js" defer></script>

	<!-- DataTable Buttons -->
	<script src="https://cdn.datatables.net/buttons/1.6.5/js/dataTables.buttons.min.js" defer></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js" defer></script>
	<script src="https://cdn.datatables.net/buttons/1.6.5/js/buttons.html5.min.js" defer></script>

	<!-- Custom CSS/JS -->
	<link href="{{#unless index}}../{{/unless}}css/main.min.css" rel="stylesheet">
	<script src="{{#unless index}}../{{/unless}}js/script.min.js" defer></script>
</head>

<body class="xdent">