<div class="modal fade" id="modal-xdent" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Detail</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
			</div>
			<div class="modal-body">
				<p>
					Code: <strong id="datatable-code"></strong>
				</p>
				<p>
					Name: <strong id="datatable-name"></strong>
				</p>
				<p>
					Price: € <strong id="datatable-price"></strong>
				</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>