{{> header index=true}}

	<div class="container">
		<div class="row">
			<div class="col">
				<h2>Index Xdent DataTable</h2>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<ol>
					<li><a href="templates/index.html">DataTable Test Page</a></li>
				</ol>
			</div>
		</div>
	</div>

{{> footer}}