@include helper-override {

	// Show - Block - individualy
	.h-show-sm,
	.h-show-md,
	.h-show-lg,
	.h-show-xl,
	.h-show-hg {
		display: none;
	}

	.h-show-sm {
		@media screen and (min-width: $media-sm) and (max-width: $media-md-down) {
			display: block;
		}
	}

	.h-show-md {
		@media screen and (min-width: $media-md) and (max-width: $media-lg-down) {
			display: block;
		}
	}

	.h-show-lg {
		@media screen and (min-width: $media-lg) and (max-width: $media-xl-down) {
			display: block;
		}
	}

	.h-show-xl {
		@media screen and (min-width: $media-xl) and (max-width: $media-hg-down) {
			display: block;
		}
	}

	// Show - Block - up
	.h-show-sm-up,
	.h-show-md-up,
	.h-show-lg-up,
	.h-show-xl-up,
	.h-show-hg-up {
		display: none;
	}

	.h-show-sm-up {
		@include media-sm {
			display: block;
		}
	}

	.h-show-md-up {
		@include media-md {
			display: block;
		}
	}

	.h-show-lg-up {
		@include media-lg {
			display: block;
		}
	}

	.h-show-xl-up {
		@include media-xl {
			display: block;
		}
	}

	.h-show-hg-up {
		@include media-hg {
			display: block;
		}
	}

	// Show - Inline - up
	.h-show-inline-sm-up,
	.h-show-inline-md-up,
	.h-show-inline-lg-up,
	.h-show-inline-xl-up,
	.h-show-inline-hg-up {
		display: none;
	}

	.h-show-inline-sm-up {
		@include media-sm {
			display: inline;
		}
	}

	.h-show-inline-md-up {
		@include media-md {
			display: inline;
		}
	}

	.h-show-inline-lg-up {
		@include media-lg {
			display: inline;
		}
	}

	.h-show-inline-xl-up {
		@include media-xl {
			display: inline;
		}
	}

	.h-show-inline-hg-up {
		@include media-hg {
			display: inline;
		}
	}

	// Hide - Block - up
	.h-hide-sm-up,
	.h-hide-md-up,
	.h-hide-lg-up,
	.h-hide-xl-up,
	.h-hide-hg-up {
		display: block;
	}

	.h-hide-sm-up {
		@include media-sm {
			display: none;
		}
	}

	.h-hide-md-up {
		@include media-md {
			display: none;
		}
	}

	.h-hide-lg-up {
		@include media-lg {
			display: none;
		}
	}

	.h-hide-xl-up {
		@include media-xl {
			display: none;
		}
	}

	.h-hide-hg-up {
		@include media-hg {
			display: none;
		}
	}

	// Hide - Inline - up
	.h-hide-inline-sm-up,
	.h-hide-inline-md-up,
	.h-hide-inline-lg-up,
	.h-hide-inline-xl-up,
	.h-hide-inline-hg-up {
		display: inline;
	}

	.h-hide-inline-sm-up {
		@include media-sm {
			display: none;
		}
	}

	.h-hide-inline-md-up {
		@include media-md {
			display: none;
		}
	}

	.h-hide-inline-lg-up {
		@include media-lg {
			display: none;
		}
	}

	.h-hide-inline-xl-up {
		@include media-xl {
			display: none;
		}
	}

	.h-hide-inline-hg-up {
		@include media-hg {
			display: none;
		}
	}
}
