@mixin helper-override($selector: #{$theme}) {
	#{$selector} {
		@content;
	}
}

@mixin media-hg {
	@media screen and (min-device-width: $media-hg) {
		@content;
	}
}

@mixin media-xl {
	@media screen and (min-device-width: $media-xl) {
		@content;
	}
}

@mixin media-xl-down {
	@media screen and (max-device-width: $media-xl-down) {
		@content;
	}
}

@mixin media-lg {
	@media screen and (min-device-width: $media-lg) {
		@content;
	}
}

@mixin media-md {
	@media screen and (min-device-width: $media-md) {
		@content;
	}
}

@mixin media-sm {
	@media screen and (min-device-width: $media-sm) {
		@content;
	}
}

@mixin clearfix {
	&::before {
		content: '';
		display: table;
	}

	&::after {
		clear: both;
		content: '';
		display: table;
	}
}

@mixin hidden {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

// sass-lint:disable-all
// stylelint-disable
@mixin background-2x($path, $ext: 'png', $w: auto, $h: auto, $pos: left top, $repeat: no-repeat) {
	$at1x_path: '#{$path}.#{$ext}';
	$at2x_path: '#{$path}@2x.#{$ext}';
	background-image: url('#{$at1x_path}');
	background-position: $pos;
	background-repeat: $repeat;
	background-size: $w $h;

	@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
		background-image: url('#{$at2x_path}');
	}
}

@mixin fontdef($font-path, $font-file, $font-version, $font-type) {
	@if $font-type == $font-type-icon {
		src: url('#{$font-path}/#{$font-file}-#{$font-type}.svg?v=#{$font-version}') format('svg'), url('#{$font-path}/#{$font-file}-#{$font-type}.ttf?v=#{$font-version}') format('truetype'), url('#{$font-path}/#{$font-file}-#{$font-type}.woff?v=#{$font-version}') format('woff');
	}

	@else {
		src: url('#{$font-path}/#{$font-file}-#{$font-type}.eot?v=#{$font-version}');
		src: url('#{$font-path}/#{$font-file}-#{$font-type}.eot?#iefix&v=#{$font-version}') format('embedded-opentype'), url('#{$font-path}/#{$font-file}-#{$font-type}.svg?v=#{$font-version}') format('svg'), url('#{$font-path}/#{$font-file}-#{$font-type}.ttf?v=#{$font-version}') format('truetype'), url('#{$font-path}/#{$font-file}-#{$font-type}.woff2?v=#{$font-version}') format('woff2'), url('#{$font-path}/#{$font-file}-#{$font-type}.woff?v=#{$font-version}') format('woff');
	}
}

@mixin font-reset {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
}
// sass-lint:enable-all
// stylelint-enable
