@include helper-override {

	// sass-lint:disable-all
	@-ms-viewport {
		width: device-width;
	}

	a[x-apple-data-detectors] {
		color: inherit !important;
		font-family: inherit !important;
		font-size: inherit !important;
		font-weight: inherit !important;
		line-height: inherit !important;
		text-decoration: none !important;
	}

	*:focus {
		outline: none;
	}
}
