html {
	@include font-reset;
	font-size: $def-rem-size;
	height: 100%;
}

#{$theme} {
	align-items: stretch;
	background-color: $color-bg;
	background-repeat: no-repeat;
	color: $color-copy-primary;
	display: flex;
	flex-direction: column;
	font-family: $font-family, sans-serif;
	font-size: $font-size-normal;
	height: 100%;

	[role=link] {
		cursor: pointer;
	}
}
