// Def mixins
$def-padding-cycle: 4px; // nastaví po kolika se vypočítává funkce pro padding
$def-rem-size: 16px; // kolik je root (em / font-size) nastavena na html pro výpočet rem a přepočet na funkci na výpočet rem z px
$theme: '.xdent';
$pxs: ();

@for $i from 1 through 31 {
	$pxs: append($pxs, $i * $def-padding-cycle);
}

@function rem($size) {
	$remsize: ($size / $def-rem-size);

	@return #{$remsize}rem;
}

// Breakpoints
$media-sm: 576px;
$media-md: 768px;
$media-md-down: ($media-md - 1);
$media-lg: 992px;
$media-lg-down: ($media-lg - 1);
$media-xl: 1200px;
$media-xl-down: ($media-xl - 1);
$media-hg: 1600px;
$media-hg-down: ($media-hg - 1);

// Fonts
$font-path: '../fonts' !default;
$font-version: '1.0.0';
$font-file: 'opensans';
$font-family: 'Open Sans';
$font-type: 'regular';
$font-weight-normal: 400;
$font-weight-lightbold: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-ultrabold: 800;

// Typography
$font-size-small: rem(12px);
$font-size-normal: rem(14px);
$font-size-h1: rem(24px);
$font-size-h2: rem(20px);

// Line-heights
$line-height: 1;
$line-height-small: nth($pxs, 3);
$line-height-normal: (nth($pxs, 4) + 2);
$line-height-big: (nth($pxs, 6) + 2);
$line-height-bigger: nth($pxs, 8);

// Colors bg
$color-bg: #fff;
$color-bg-primary: #e6ffe6;
$color-bg-secondary: #e6f9ff;

// Colors copy
$color-copy-primary: rgba(0, 0, 0, .87);

// Fonts
$font-weight-normal: 400;
$font-weight-lightbold: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-ultrabold: 800;
